.noNotes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}
.noNotes-subcontainer {
  /* background-color: blanchedalmond; */
  text-align: center;
}
.noNotes p {
  color: #41403e;
  font-size: 3.5em;
  font-weight: 700;
  text-shadow:  1px 1px 1px #ffffff, 
                1px 2px 1px #bababa, 
                1px 3px 1px #bababa,
                1px 4px 1px #bababa,
                1px 5px 1px #bababa, 
                1px 6px 1px #bababa;

            }
.noNotes button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  font-weight: bold;
}

.noNotes button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.noNotes button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
