.rightNoteData nav ul {
  display: flex;
  width: 100%;
  justify-content: start;
  max-width: 800px;
  flex-wrap: wrap;
  gap: 10px;
}
.rightNoteData ul li img {
  width: 20px;
}

.rightNoteData ul li {
  list-style: none;
}
.Note {
  display: flex;
}

.leftNoteCollection {
  width: 15%;
  min-width: 250px;
  background-color: #e4a537;
  /* border-right:2px solid rgb(255, 157, 28) ; */
}
.rightNoteData {
  display: flex;
  flex-direction: column;
  width: 88%;
  height: 100vh;
  background-color: antiquewhite;
}
nav {
  width: 40%;
}
.rightNoteData textarea {
  height: 95%;
  width: 100%;
  max-width: 1320px;
  /* max-width: 90vw; */
  max-height: 92vh;
  background-color: antiquewhite;
}
.leftNote-subContainer {
  display: flex;
  align-items: center;
  padding: 10px 8px;
}

/* ----------------- */
.button {
  --main-focus: #2d8cf0;
  --font-color: #dedede;
  --bg-color-sub: #222;
  --bg-color: #323232;
  --main-color: #dedede;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(25px);
  color: var(--font-color);
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  stroke: var(--main-color);
}

.button:hover {
  background: var(--bg-color);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
  /* background-color: #2d8cf0; */
  height: 70px;
  overflow: hidden;
}
/* --------------------Edit Note Css */

.Btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  padding: 15px 0;
  text-align: center;
  /* white-space: nowrap; */
  overflow-x: hidden;
  /* height: 40px; */
  border: none;
  /* padding: 0px 20px; */
  background-color: rgb(42, 42, 42);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.Btn:hover svg {
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: 0.3s;
}

/*--------------- Delete btn CSS----------- */

.delete-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.delete-svgIcon {
  width: 15px;
  transition-duration: 0.3s;
}

.delete-svgIcon path {
  fill: white;
}

.delete-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
  padding: 0 10px;
}

.delete-button:hover .delete-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.delete-button::before {
  display: none;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.delete-button:hover::before {
  display: block;
  /* padding-right: 10px; */
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

.rightNoteData ul li {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
}
.rightNoteData ul li:hover {
  background-color: rgb(228, 165, 55);
}
.rightNoteData ul li:hover {
  background-color: rgb(228, 165, 55);
}

.rightNoteData ul {
  margin: 5px 0;
}
.rightNoteData nav {
  padding: 0px 10px;
  width: 100%;
}
.rightNoteData ul li {
  padding: 10px 15px;
}
.rightNoteData ul li:hover {
  cursor: pointer;
}
